@{
    ViewData["Title"] = "Create";
}
<div class="container-fluid">
    <div class="row p-3">
        <div class="col-sm">
            <form asp-action="Create" asp-controller="Folder">
                <div class="row my-3">
                    <div class="col-sm-6 position-relative">
                        <input type="text" id="Name" name="Name" class="form-control form-control-lg" placeholder="Folder name" />
                    </div>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-light btn-lg">Create folder</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
