@{
    ViewData["Title"] = "Delete";
}

@model Folder

<div class="container">
    <div class="row p-3">
        <div class="col-sm-12">
            <h2>@Model.Name</h2>
            <h3>Are you sure?</h3>
            <form asp-action="Delete" asp-controller="Folder" asp-route-folderId="@Model.Id" class="col-6-sm">
                <button type="submit" class="btn btn-danger btn-lg">Delete folder</button>
            <a asp-action="Index" asp-controller="Folder" class="btn btn-warning btn-lg">No</a>
            </form>
        </div>
    </div>
</div>