body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

* {
    box-sizing: border-box;
}

/* Style the content */
.content {
    margin-left: 200px;
    padding-left: 20px;
}

.task:nth-child(2n){
    background-color: bisque;
}

.task:nth-child(2n+1) {
    background-color: aliceblue;
}

.mr-2 {
    margin-right: 2rem !important;
}

form-check-50{
    width: 75px;
    height: 75px;
}